// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$gray: #faf6f6;

body {
  background: $gray; // Using this variable
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.banner {
  background: rgb(11, 11, 11);
  padding-top: 30px;
  h1 {
    color: #faf6f6;
    font-size: 50px;
  }
}

.btn{
  background-color: rgb(13, 13, 13);
  color: #faf6f6;
}

.chef{
  position: relative;
  margin: 10%;
}

.ask{
  margin: auto;
  font-size: 32px;
  border: 1px solid black;
  width: 70px;
  padding: 170px;
  border: 1px solid rgb(249, 176, 67);


}

.coach{
  margin: auto;
  font-size: 32px;
  border: 1px solid rgb(249, 176, 67);
  width: 70px;
  padding: 170px;
  margin-top: 30px;




}

.retour{
  text-decoration: none;
  font-size: 32px;
  position: relative;
  color: black;
  cursor: pointer;
  display: inline-block;

}

.container{
  display: inline;
}
